@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Patrick+Hand&family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    font-family:'DM Serif Text', serif;
}

/* Callout section */
#callout{
    background-color:cornflowerblue;
    height: 90vh;
    position: relative;
}

#callout-heading{
    text-align:center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#callout-heading h1{
    font-family:'DM Serif Text', serif;
    font-size: 50px;
}

/* Form */
form label{
    font-size: 20px;
}

.btn-link{
    color:black;
}

/* Footer */
footer {
    background-color:cornflowerblue;
    height: 50px;
}

.social-icons {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 13px;
}

.social-icons li {
    list-style:none;
}

.social-icons li i{
    color:gold;
}


.social-icons li a i {
    margin: 0 auto;
}