@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.btn {
    width: 120px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    color: #212529;
}

.btn-border{
    border: 2px solid #212529;
}

.active-bg {
    background-color:#E54575;
    border:none;
    color:white;
}

/* Callout section */
header {
    font-family: 'DM Serif Text', serif;
    color: white;
    background-color: #F3B21A;
    font-size: 1.8rem;
}

#callout {
    background-color: #F3B21A;
}

#callout-heading h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 45px;
    padding-top: 3rem;
}

#callout img {
    width: 100%;
}

.btn-submit {
    border: 2px solid #E54575;
    background-color: #E54575;
    color: white;
    margin-right: 8px;
}

/* Form */
form p {
    font-size: 18px;
}

form label {
    font-family: 'Poppins'cursive;
    font-size: 18px;
    font-weight: 500;
}

form input {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
}

/* arrow animation */
.arrow {
    cursor: pointer;
    animation: myAnim 2s ease-in-out 0s infinite normal forwards;
  
  }
  
  @keyframes myAnim {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
  
    10% {
      animation-timing-function: ease-in;
      transform: scale(0.91);
    }
  
    17% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
    }
  
    33% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
    }
  
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }

/* Popular attractions section */
#destinations h2 {
    margin: 15px;
}

.card {
    border: 2px solid #E54575;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 500;
}

#back-to-top {
    width:100%;
    text-align: center;
}

#back-to-top a {
    font-family: 'Poppins', cursive;
    color:black;
    font-weight: 400;
}

#back-to-top a:hover {
    color:#E54575;
}

#back-to-top i {
    margin-left: 5px;
}

/* Footer */
footer {
    background-color: #F3B21A;
    height: 50px;
}

.social-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 13px;
}

.social-icons li {
    list-style: none;
}

.social-icons li i {
    color: #212529
}


.social-icons li a i {
    margin: 0 auto;
}

/* Media queries md */
@media (min-width: 768px) {
    .card-title {
        font-size: 1.4rem;
    }
}

/* Media queries lg */
@media (min-width: 992px) {
    * {
        text-align: left;
    }

    header {
        padding-left: 1.5rem;

    }

    #callout {
        background: url('../images/flamingo-bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 88vh;
        position:relative;
    }

    #callout-heading {
        margin-left: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }

    #callout-heading h1 {
        font-size: 3.3vw;
        padding-top: 0;
        min-width: 4rem;
    }

    #callout img {
        display: none;
    }

    .arrow {
        position:absolute;
        top: 78vh;
        left: 25%;
    }

    #destinations h2 {
        margin-left: 30px;
    }

    h2 {
        margin-left: 30px;
    }

    .card img {
        height: 10rem;
    }

    .card-title {
        font-size: 1.5vw;
    }

    #back-to-top {
        width:100%;
    }
}