@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Patrick+Hand&family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.btn {
width:120px;
}

/* Header */
header{
    font-family:'DM Serif Text', serif;
    color:white;
    margin-left: 1.5rem;
    padding-top: 0.75rem;
}

/* Callout section */
#callout{
    background-image: url('../assets/images/mobile-bg.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 350px;
}

#callout-heading{
    padding-top: 60px;
    text-align:center;
}

#callout-heading h1{
    font-family:'DM Serif Text', serif;
    font-size: 41px;
}

.btn-submit{
    background-color:#E54575;
    color:white;
    margin-right:8px;
}

/* Form */
form label{
    font-size: 15px;
}

.btn-link{
    color:black;
}

/* Footer */
footer {
    background-color:#F3B21A;
    height: 50px;
}

.social-icons {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 13px;
}

.social-icons li {
    list-style:none;
}

.social-icons li i{
    color:black;
}


.social-icons li a i {
    margin: 0 auto;
}